---
layout: default
---

  <main class="">

    <h1>{{ title }}</h1>

    <div class="tags">
        {% for item in theme %}
            <span class="inline-flex items-center justify-center text-xs px-3 py-1 bg-violet-200 text-violet-800 rounded-md">{{ item }}</span>
        {% endfor %}

        {% for item in stage %}
            <span class="inline-flex items-center justify-center text-xs px-3 py-1 bg-emerald-300 text-emerald-800 rounded-md">{{ item }}</span>
        {% endfor %}

        {% for item in learningTypes %}
            <span class="inline-flex items-center justify-center text-xs px-3 py-1 bg-blue-200 text-blue-800 rounded-md">{{ item }} </span>
        {% endfor %}

        {% for item in scale %}
            <span class="inline-flex items-center justify-center text-xs px-3 py-1 bg-amber-200 text-amber-800 rounded-md">{{ item }} </span>
        {% endfor %}
     </div>

    {{ content | safe }}
 
 
  </main>