---
layout: default
---

<main class="container mx-auto flex flex-col flex-wrap items-center px-6">

  <ul class="archive">
    {% for post in collections.lessons %}
    <li>
      
      <a href="{{post.url}}">{{post.data.title}}</a> 
      
      {% for item in post.data.theme %}
      <span class="px-4 py-1 rounded-full text-white bg-pink-500 font-semibold text-xs flex align-center w-max ">{{ item }}</span>
       {% endfor %}
       {% for item in post.data.stage %}
       <span class="px-4 py-1 rounded-full text-white bg-blue-500 font-semibold text-xs flex align-center w-max ">{{ item }}</span>
      {% endfor %}
      {% for item in post.data.learningTypes %}
       <span class="px-4 py-1 rounded-full text-white bg-green-500 font-semibold text-xs flex align-center w-max ">{{ item }} </span>
      {% endfor %}
      {% for item in post.data.scale %}
      <span class="px-4 py-1 rounded-full text-white bg-orange-500 font-semibold text-xs flex align-center w-max ">{{ item }} </span>
     {% endfor %}
      </li>
    {% endfor %}
  </ul>

</main>
